*/*The default value of both padding and margin properties is 0, meaning that any elements that can be changed with CSS by default have no extra spacing.*/ 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*The off-white background makes the true white letters pop */
body {
    background-color: #d9dcd6;
    color:#ffffff;
}
/*Top Banner */
.header { 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}
/*Formatting the words on the right of the banner */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Top banner section formatting */
.header div { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}

/* display list items horizontally instead of vertically.*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Turns search engine optimization, online reputation management, and social media marketing white and formatting is removed */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*Banner photo */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*for search engin and social meadia marketing images*/
.float-left { 
    float: left;
    margin-right: 25px;
}
/*For online reputation image*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Sized lower left content to 75% so benefits section can be in the same line */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Formatting for lower left content to be on the left side*/
.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #2589bd;
}
/*Margin for items on the right*/
.aside-styling {
    margin-bottom: 32px;
}
/*Right lower section center title formatting */
.aside-styling h3 {
    margin-bottom: 10px;
    text-align: center;
} 

/*Right lower section image formatting*/
.aside-styling img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

 /*Lower left section formatting*/
.section-styling {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #0072bb;

}

/*Lower left section image formatting*/
.section-styling img {
    max-height: 200px;
}

/*Lower left side title formatting*/
.section-styling h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Footer section*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
    color:black;
}

.footer h2 {
    font-size: 20px;
}