* {/*The default value of both padding and margin properties is 0, meaning that any elements that can be changed with CSS by default have no extra spacing.*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {/*The off-white background makes the true white letters pop */
    background-color: #d9dcd6;
    color:#ffffff;
}

.header { /*Top Banner */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

.header h1 {/*Formatting the words on the right of the banner */
    display: inline-block;
    font-size: 48px;
}


.header div { /*Top banner section formatting */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}


.header div ul li {/* display list items horizontally instead of vertically.*/
    display: inline-block;
    margin-left: 25px;
}

a {/*Turns search engine optimization, online reputation management, and social media marketing white and formatting is removed */
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {/*Banner photo */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /*for search engin and social meadia marketing images*/
    float: left;
    margin-right: 25px;
}

.float-right {/*For online reputation image*/
    float: right;
    margin-left: 25px;
}

.content {/*Sized lower left content to 75% so benefits section can be in the same line */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {/*Formatting for lower left content to be on the left side*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #2589bd;
}

.benefit-lead {/*Margin for items on the right*/
    margin-bottom: 32px;
}

.benefit-lead h3 {/*Right lower section center title formatting */
    margin-bottom: 10px;
    text-align: center;
} 


.benefit-lead img {/*Right lower section image formatting*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.search-engine-optimization { /*Lower left section formatting*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #0072bb;

}


.search-engine-optimization img {/*Lower left section image formatting*/
    max-height: 200px;
}


.search-engine-optimization h2 {/*Lower left side title formatting*/
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
    color:black;
}

.footer h2 {
    font-size: 20px;
}